/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #393A34;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 0.95em;
    line-height: 1.2em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #b3d4fc;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: white;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .2em;
    padding-top: 1px; padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999988; font-style: italic;
}

.token.namespace {
    opacity: .7;
}

.token.string,
.token.attr-value {
    color: #e3116c;
}
.token.punctuation,
.token.operator {
    color: #393A34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f;
}

.token.important,
.token.function,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

body{margin:0;padding:20px 40px;font-family:consolas,monaco,courier,"courier new",fixed-width;color:#333;font-size:14px;background:#fff;line-height:1.55}img{max-width:100%}figure{margin:0}figcaption{color:rgba(88,88,88,0.5);font-size:80%}main{word-wrap:break-word;max-width:450px;margin:15px auto}a{color:#7fc8ff;text-decoration:none;font-weight:600;}a:hover{text-decoration:underline;}a:hover:before,a:hover:after{color:rgba(88,88,88,0.5);text-decoration:none}h1,h2,h3,h4,h5,h6,pre,code,blockquote,em,strong{font-size:14px;line-height:20px;font-weight:normal;font-style:normal}h1,h2,h3,h4,h5,h6,pre,code,blockquote,ol,ul,li,p,section,header,footer{float:none;margin:0;padding:0}h1,p,ul,ol,pre,blockquote{margin-top:20px;margin-bottom:20px}h1{position:relative;display:inline-block;display:table-cell;padding:20px 0 40px;margin:0;overflow:hidden;font-weight:600}h1:after{content:"====================================================================================================";position:absolute;bottom:20px;left:0;color:#7fc8ff;font-weight:300}h1 + *{margin-top:0}h2,h3,h4,h5,h6{position:relative;margin-bottom:20px;margin-top:20px;font-weight:900;}h2:before,h3:before,h4:before,h5:before,h6:before{content:"## ";color:rgba(88,88,88,0.29);position:absolute;display:block;left:-25px}h3:before{content:"### ";left:-33px}li{position:relative;display:block;padding-left:34px;padding-left:4ch}li:after{position:absolute;top:0;left:0}ul > li:after{content:"*"}ol{counter-reset:ol}ol > li:after{content:counter(ol) ".";counter-increment:ol}pre{margin-left:34px;padding-left:4ch}blockquote{position:relative;padding-left:17px;padding-left:2ch;overflow:hidden}blockquote:after{content:">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";white-space:pre;position:absolute;top:0;left:0;font-size:14px;line-height:20px}strong{font-weight:900;}strong:before,strong:after{content:"**";display:inline;font-weight:900}em{font-style:italic;}em:before,em:after{content:"_";display:inline}code{font-weight:100}code:before,code:after{content:"`";display:inline}pre code:before,pre code:after{content:none}